@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.dynamic-theme {
  @apply border-zinc-900 bg-zinc-100 text-zinc-900 dark:border-zinc-100 dark:bg-zinc-900 dark:text-zinc-100;
}

.scarlet-default {
  @apply dark:bg-scarlet-400 dark:text-scarlet-950 bg-scarlet-500 text-zinc-50;
}

.scarlet-default-outlined {
  @apply dark:text-scarlet-300 dark:border-scarlet-300 text-scarlet-700 border-scarlet-700;
}

.scarlet-default-gradient {
  @apply dark:text-scarlet-950 dark:from-scarlet-300 dark:to-scarlet-500 from-scarlet-400 to-scarlet-600 bg-gradient-to-br text-zinc-50;
}

.scarlet-default:hover {
  @apply dark:bg-scarlet-300 dark:text-scarlet-950 bg-scarlet-600 text-zinc-50;
}

.scarlet-default-outlined:hover {
  @apply dark:bg-scarlet-950 dark:text-scarlet-300 dark:border-scarlet-300 text-scarlet-700 border-scarlet-700 bg-scarlet-50;
}

.scarlet-default-gradient:hover {
  @apply dark:text-scarlet-950 dark:from-scarlet-200 dark:to-scarlet-400 from-scarlet-500 to-scarlet-700 bg-gradient-to-br text-zinc-50;
}

.scarlet-default:active {
  @apply dark:bg-scarlet-300 dark:text-scarlet-950 bg-scarlet-700 text-zinc-50;
}

.scarlet-default-outlined:active {
  @apply dark:bg-scarlet-950 dark:text-scarlet-300 dark:border-scarlet-300 text-scarlet-700 border-scarlet-700 bg-scarlet-100;
}

.scarlet-default-gradient:active {
  @apply dark:text-scarlet-950 dark:from-scarlet-400 dark:to-scarlet-600 from-scarlet-600 to-scarlet-800 bg-gradient-to-br text-zinc-50;
}

.scarlet-default:disabled {
  @apply dark:bg-scarlet-800 dark:text-scarlet-100 bg-scarlet-200 text-scarlet-700;
}

.scarlet-default-outlined:disabled {
  @apply dark:text-scarlet-300 dark:border-scarlet-300 text-scarlet-700 border-scarlet-700;
}

.scarlet-default-gradient:disabled {
  @apply dark:text-scarlet-100 dark:from-scarlet-700 dark:to-scarlet-900 from-scarlet-100 to-scarlet-300 text-scarlet-700 bg-gradient-to-br;
}



.zinc-default {
  @apply dark:bg-zinc-400 dark:text-zinc-950 bg-zinc-500 text-zinc-50;
}

.zinc-default-outlined {
  @apply dark:text-zinc-300 dark:border-zinc-300 text-zinc-700 border-zinc-700;
}

.zinc-default-gradient {
  @apply dark:text-zinc-950 dark:from-zinc-300 dark:to-zinc-500 from-zinc-400 to-zinc-600 bg-gradient-to-br text-zinc-50;
}

.zinc-default:hover {
  @apply dark:bg-zinc-300 dark:text-zinc-950 bg-zinc-600 text-zinc-50;
}

.zinc-default-outlined:hover {
  @apply dark:bg-zinc-950 dark:text-zinc-300 dark:border-zinc-300 text-zinc-700 border-zinc-700 bg-zinc-50;
}

.zinc-default-gradient:hover {
  @apply dark:text-zinc-950 dark:from-zinc-200 dark:to-zinc-400 from-zinc-500 to-zinc-700 bg-gradient-to-br text-zinc-50;
}

.zinc-default:active {
  @apply dark:bg-zinc-300 dark:text-zinc-950 bg-zinc-700 text-zinc-50;
}

.zinc-default-outlined:active {
  @apply dark:bg-zinc-950 dark:text-zinc-300 dark:border-zinc-300 text-zinc-700 border-zinc-700 bg-zinc-100;
}

.zinc-default-gradient:active {
  @apply dark:text-zinc-950 dark:from-zinc-400 dark:to-zinc-600 from-zinc-600 to-zinc-800 bg-gradient-to-br text-zinc-50;
}

.zinc-default:disabled {
  @apply dark:bg-zinc-800 dark:text-zinc-100 bg-zinc-200 text-zinc-700;
}

.zinc-default-outlined:disabled {
  @apply dark:text-zinc-300 dark:border-zinc-300 text-zinc-700 border-zinc-700;
}

.zinc-default-gradient:disabled {
  @apply dark:text-zinc-100 dark:from-zinc-700 dark:to-zinc-900 from-zinc-100 to-zinc-300 text-zinc-700 bg-gradient-to-br;
}


.rose-default {
  @apply dark:bg-rose-400 dark:text-rose-950 bg-rose-500 text-zinc-50;
}

.rose-default-outlined {
  @apply dark:text-rose-300 dark:border-rose-300 text-rose-700 border-rose-700;
}

.rose-default-gradient {
  @apply dark:text-rose-950 dark:from-rose-300 dark:to-rose-500 from-rose-400 to-rose-600 bg-gradient-to-br text-zinc-50;
}

.rose-default:hover {
  @apply dark:bg-rose-300 dark:text-rose-950 bg-rose-600 text-zinc-50;
}

.rose-default-outlined:hover {
  @apply dark:bg-rose-950 dark:text-rose-300 dark:border-rose-300 text-rose-700 border-rose-700 bg-rose-50;
}

.rose-default-gradient:hover {
  @apply dark:text-rose-950 dark:from-rose-200 dark:to-rose-400 from-rose-500 to-rose-700 bg-gradient-to-br text-zinc-50;
}

.rose-default:active {
  @apply dark:bg-rose-300 dark:text-rose-950 bg-rose-700 text-zinc-50;
}

.rose-default-outlined:active {
  @apply dark:bg-rose-950 dark:text-rose-300 dark:border-rose-300 text-rose-700 border-rose-700 bg-rose-100;
}

.rose-default-gradient:active {
  @apply dark:text-rose-950 dark:from-rose-400 dark:to-rose-600 from-rose-600 to-rose-800 bg-gradient-to-br text-zinc-50;
}

.rose-default:disabled {
  @apply dark:bg-rose-800 dark:text-rose-100 bg-rose-200 text-rose-700;
}

.rose-default-outlined:disabled {
  @apply dark:text-rose-300 dark:border-rose-300 text-rose-700 border-rose-700;
}

.rose-default-gradient:disabled {
  @apply dark:text-rose-100 dark:from-rose-700 dark:to-rose-900 from-rose-100 to-rose-300 text-rose-700 bg-gradient-to-br;
}